<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Aspose.Cells" version="25.6.0" targetFramework="net48" />
  <package id="BaiqiSoft.WinFormsHtmlEditor.NET4" version="25.3.20" targetFramework="net48" />
  <package id="ExcelDataReader" version="3.7.0" targetFramework="net48" />
  <package id="log4net" version="3.1.0" targetFramework="net48" />
  <package id="NCrontab" version="3.3.3" targetFramework="net48" />
  <package id="RichTextBoxAppender" version="1.0.1" targetFramework="net48" />
  <package id="Select.HtmlToPdf" version="25.2.0" targetFramework="net48" />
</packages>